# Xcode
*.xcworkspace
*.xcuserdata
*.xcscmblueprint
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.DS_Store

# Swift Package Manager
.build/
Packages/
Package.pins
.swiftpm/xcode

# Cocoapods
Pods/
